<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Patient</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header th:replace="fragments/navbar :: navbar"></header>
<div class="container">
    <h1>Create Patient</h1>
    <form th:action="@{/patient/add}" th:object="${patient}" method="post">
        <div class="form-group">
            <label for="firstname">Firstname:</label>
            <input type="text" class="form-control" id="firstname" th:field="*{firstname}" required>
            <div th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label for="lastname">Lastname:</label>
            <input type="text" class="form-control" id="lastname" th:field="*{lastname}" required>
            <div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label for="birthDate">Date of Birth:</label>
            <input type="date" class="form-control" id="birthDate" th:field="*{birthDate}" required>
            <div th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="text-danger"></div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/patient/list" class="btn btn-secondary">Cancel</a>
    </form>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
